<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mrs47.dao.CategoryMapper">
    <resultMap id="categoryMap" type="cn.mrs47.pojo.Category">
        <id column="cid" property="categoryId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="name" property="categoryName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="createtime" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectCategory" resultMap="categoryMap">
        select * from category
    </select>

</mapper>